[submodule "resources/javascript/ilmentufa"]
	path = resources/javascript/ilmentufa
	url = https://github.com/Rotfuchs-von-Vulpes/ilmentufa.git
[submodule "resources/lojban/ilmentufa"]
	path = resources/lojban/ilmentufa
	url = https://github.com/Rotfuchs-von-Vulpes/ilmentufa.git
